<div class="form-holder" style="position:absolute; right: 10px;">
  <div class="form-content" style="background: transparent">
    <div class="form-items">
      <div class="website-logo-inside">
        <img src="../../assets/Images/logo.svg" alt="Rishabh Software" />
        <span style="color: #e23e3f; font-size: 34px; font-weight: 700"
          >Meal Facility</span
        >
      </div>
      <h3 class="otp-head" style="color: black">Contact Us</h3>
      <p class="otp-text" style="color: black; font-size: small">
        You can Contactus by Email and Phone number.
      </p>

      <div class="form-group">
        <label class="control-label" style="color: black; font-weight: 600"
          >Email : sales@rishabhsoft.com</label
        >
      </div>
      <div class="form-group">
        <label
          class="control-label"
          style="color: black; font-weight: 600; padding-top: 10%"
          >Contact Number : +91 8511122697</label
        >
      </div>

      <div class="form-group">
        <label
          class="control-label"
          style="color: black; font-weight: 600; padding-top: 10%"
          >Address: Plot 66, Beside Sigil India, Padra Road, Atladra, Vadodara
          390012, Gujarat, India.</label
        >
      </div>
    </div>
  </div>
</div>
