
  
      <div class="form-body" >
        <div class="row">
          
          <div class="form-holder"
            style="background-color: aqua; max-width: 1140px; width: calc(100% - 550px) !important;">
            <div class="form-content" style="background:transparent;">
              <div class="form-items">
                <div class="website-logo-inside">
                  <img src="../../assets/Images/logo.svg" alt="Rishabh Software">
                  <span style=" color: #e23e3f;
                  font-size: 34px;
                  font-weight: 700;">Meal Facility</span>
                </div>
                <h3 class="otp-head" style="color: black;">Contact Us</h3>
                <p class="otp-text" style="color: black;">Create new password for your account.</p>
               
                <div class="form-group">
                    <label class="control-label" style="color: black; font-weight: 600;">Email</label>
                    <div class="input-addon">
                      <input  type="text" placeholder="Enter Email Address">                                          
                    </div>  
                    <!-- <small *ngIf="contactform.controls['email'].dirty && contactform.hasError('required','email')" class="text-danger">*Email is required</small> -->
                  </div>


                <div class="form-group">
                  <label class="control-label" style="color: black; font-weight: 600;">Contact Number</label>
                  <div class="input-addon">
                    <input  type="text" placeholder="New Password">        
                  </div>
                  <!-- <small *ngIf="contactform.controls['password'].dirty && contactform.hasError('required','password')" class="text-danger">*fiels is required</small> -->
                </div>
                

                <div class="form-group">
                    <label class="control-label" style="color: black; font-weight: 600;">Message</label>
                    <div class="input-addon">
                      <input  type="textarea" placeholder="Enter Your Message here">                      
                    </div>
                    <!-- <small *ngIf="contactform.controls['password'].dirty && contactform.hasError('required','msg')" class="text-danger">*fiels is required</small> -->
                  </div>
                                  
                <div class="form-group btn-container">
                  <button class="btn btn-xl btn-primary col-lg-12" style=" color: white;
                  background-color: rgba(255, 0, 0, 0.774);">Submit</button>
                </div>
              </div>
             
  
            </div>
          </div>
        
        </div>
      </div>
   