<div class="main">
    <section class="otp-content">
        <div class="otp-content-lt"></div>
        <div class="otp-content-rt">
          <div class="otp-box">
          <form class="otp-form" [formGroup]="newpasForm">
            <div class="logo-wrapper">
              <img src="../../assets/Images/logo.svg" alt="Rishabh Software">
              <span>Meal Facility</span>
            </div>
            <h3 class="otp-head">New Password</h3>
            <p class="otp-text">Create new password for your account.</p>
            <div class="form-group">              
              <!-- ----------------------------------   -->
            </div>
            <div class="form-group pt-3">
              <label class="control-label">Password</label>
              <div class="input-field"
                  [class.error]="newpasForm.controls['password'].dirty && newpasForm.hasError('required', 'password')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="password" [type]="type" placeholder="Password">
                  <span class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></span> 
              </div>
              <small
              *ngIf="newpasForm.controls['password'].dirty && newpasForm.hasError('required', 'password')"
              class="text-danger">*Password is required
            </small>
          </div> 



            <div class="form-group pt-3">
              <label class="control-label">Confirm Password</label>
              <div class="input-field"
                  [class.error]="newpasForm.controls['cpassword'].dirty && newpasForm.hasError('required', 'cpassword')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="cpassword" [type]="type2" placeholder="Confirm Password">
                  <span class="fa" [ngClass]="{'fa-eye': !hide2, 'fa-eye-slash': hide2}" (click)="toggleVisibility2()"></span> 
              </div>
              <small
              *ngIf="newpasForm.controls['cpassword'].dirty && newpasForm.hasError('required', 'cpassword')"
              class="text-danger">*Password is required
            </small>
          </div>
          
            <div class="form-group btn-container">
              <button class="btn btn-xl btn-primary" (click)="onSubmit()">Submit</button>
            </div>
          </form>
        </div>
        </div>
        
        