<div class="main">
    <section class="otp-content">
        <div class="otp-content-lt"></div>
        <div class="otp-content-rt">
          <div class="otp-box">
          <form class="otp-form" [formGroup]="otpfrom">
            <div class="logo-wrapper">
              <img src="../../assets/Images/logo.svg" alt="Rishabh Software">
              <span>Meal Facility</span>
            </div>
            <h3 class="otp-head">Forgot Password</h3>
            <p class="otp-text">Enter OTP and Create new password for your account.</p>
            <div class="form-group pt-3">
              <label class="control-label">Enter OTP</label>
              <div class="input-field"
                  [class.error]="otpfrom.controls['otp'].dirty && otpfrom.hasError('required', 'otp')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="otp" type="text" placeholder="otp">
              </div>
              <small
              *ngIf="otpfrom.controls['otp'].dirty && otpfrom.hasError('required', 'otp')"
              class="text-danger">*OTP is required</small>
          </div>            

            <div class="d-flex align-items-center justify-content-between">
              <div class="form-group mb-0">              
            </div>            
            </div>
          
            <div class="form-group btn-container">
              <button (click)="onSubmit()" class="btn btn-xl" >Submit</button>
            </div>
          </form>
        </div>
        </div>
        
        