.otp-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  @media (max-width: 991.98px) {
    .otp-content {
      flex-wrap: wrap;
    }
  }
  .otp-content .otp-content-lt {
    flex: 0 0 65%;
    width: 65%;
    background-size: cover !important;
    height: 100vh;
    position: relative;
    /* background: url(../../assets/Images/Resetpassword.gif) no-repeat top center; */
    /* background: url(../../assets/Images/Resetpassword.gif) no-repeat top center; */
  }
  @media (max-width: 991.98px) {
    .otp-content .otp-content-lt {
      flex: 0 0 100%;
      width: 100%;
      height: 50vh;
      /* background: url(../../assets/Images/changepassword.jpg) no-repeat top center; */
      /* background: url(../../assets/Images/changepassword.jpg) no-repeat top center; */
    }
  }
  @media (max-width: 767.98px) {
    .otp-content .otp-content-lt {
      height: 40vh;
    }
  }
  .otp-content .otp-content-rt {
    flex: 0 0 35%;
    width: 35%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #666b7a rgba(33, 37, 41, 0);
  }
  @media (max-width: 991.98px) {
    .otp-content .otp-content-rt {
      flex: 0 0 100%;
      width: 100%;
      height: auto;
    }
  }
  .otp-content .otp-content-rt .otp-box {
    min-width: 480px;
    max-width: 480px;
    background-color: #fff;
    perspective: 800px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 20px;
    margin: 40px 0;
  }
  @media (max-width: 1500px) {
    .otp-content .otp-content-rt .otp-box {
      min-width: 80%;
    }
  }
  @media (max-width: 991.98px) {
    .otp-content .otp-content-rt .otp-box {
      margin: 20px 0 0 0;
      min-width: 480px;
    }
  }
  @media (max-width: 575.98px) {
    .otp-content .otp-content-rt .otp-box {
      min-width: 100%;
      max-width: 440px;
    }
  }
  .otp-content .otp-content-rt .otp-box .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 48px;
  }
  .otp-content .otp-content-rt .otp-box .logo-wrapper img {
    margin-right: 7px;
  }
  .otp-content .otp-content-rt .otp-box .logo-wrapper span {
    color: #e23e3f;
    font-size: 34px;
    font-weight: 700;
  }
  .otp-content .otp-content-rt .otp-box .form-group {
    margin-bottom: 30px;
  }
  .otp-content .otp-content-rt .otp-box .otp-head {
    margin-top: 0;
    margin-bottom: 22px;
    color: #000;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
  }
  .otp-content .otp-content-rt .otp-box .otp-text {
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
  }
  .otp-content .otp-content-rt .otp-box label {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .otp-content .otp-content-rt .otp-box label .extric {
    color: #d13434;
  }
  .otp-content .otp-content-rt .otp-box .form-control {
    border: 1px solid #c9c9c9;
    height: 57px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding: 6px 12px 6px 24px;
  }
  .otp-content .otp-content-rt .otp-box .input-addon {
    position: relative;
  }
  .otp-content .otp-content-rt .otp-box .input-addon .icon-after {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    font-size: 20px;
    color: #3e3d47;
  }
  .otp-content
    .otp-content-rt
    .otp-box
    .input-addon
    .icon-after.icon-green {
    color: #34bf00;
  }
  .otp-content .otp-content-rt .otp-box .input-addon .icon-after.icon-red {
    color: #d13434;
  }
  .otp-content .otp-content-rt .otp-box .utility {
    text-align: right;
  }
  .otp-content .otp-content-rt .otp-box .utility p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
  }
  .otp-content .otp-content-rt .otp-box .utility p a {
    color: #3377c5;
    text-decoration: underline;
  }
  .otp-content .otp-content-rt .otp-box .utility p a:hover {
    color: #3377c5;
    text-decoration: underline;
  }
  .otp-content .otp-content-rt .otp-box .btn-container {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .otp-content .otp-content-rt .otp-box .btn-container .btn {
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(255, 0, 0, 0.774);
  }
  .fa-solid
  {
    position:absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
  }
  .fa-eye 
  {
    position: absolute;
    top: 28%;
    right: 4%; 
    cursor: pointer;  
  }
  .fa 
  {
    position: absolute;
    top: 28%;
    right: 4%; 
    cursor: pointer;
  }

  
  