<div class="head">
    <div id="logo">
      <i class="fa-solid fa-bell"></i>
    </div>
    <div class="home">
      <a routerLink="/dashboard" style="position: center; font-size: xx-large;">
        <label class="meal">Meal Facility</label>
      </a>
      <div class="dropdown">
        <a class="btn dropdown-toggle nav-link icon" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
           <label class="profile">Profile</label> 
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/admin/profile"> My Profile </a></li>
            <li><a class="dropdown-item" routerLink="/admin/changepassword">Change Password</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="contact">
    <a routerLink="/contactus" style="position: static"> Contact Us</a>
  </div>
  <div class="about">
    <a
      routerLink="/aboutus"
      style="
        position: static;
        float: right;
        font-family: 'Times New Roman', Times, serif;
      "
    >
      About Us
    </a>
  </div>
  <div class="ps">
    <a
      routerLink="/policy-security"
      style="
        position: static;
        float: right;
        font-family: 'Times New Roman', Times, serif;
      "
    >
      Policy-security</a
    >
  </div>
  <div class="tc">
    <a
      routerLink="/termsandcondition"
      style="
        position: static;
        float: right;
        font-family: 'Times New Roman', Times, serif;
      "
    >
      Terms & Condition</a
    >
  </div> -->
