<div id="page_top" class="section-body" style="background-color: rgb(26, 26, 87);">
  <div class="container-fluid">
      <div class="page-header" style="border-bottom: 1px solid #E8E9E9;">
          <div class="left">
            <a href="/dashboard" style="position: center; font-size: xx-large;color: white;font-family: 'Times New Roman', Times, serif;">
              Meal Facility
            </a>

          </div>
          <div class="right">
              <div class="notification d-flex">
                <div class="card-options">
                  <i class="fa-solid fa-bell" style="color: white;margin-top: 2px;"></i>   
                </div>
                  
                  <div class="dropdown" style="color: white;font-family: 'Times New Roman', Times, serif;">
                      <a class="btn dropdown-toggle nav-link icon" role="button" id="dropdownMenuLink"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Profile
                      </a>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" routerLink="/profile"> My Profile </a></li>
                          <li><a class="dropdown-item" routerLink="/changepassword">Change Password</a></li>
                          <li><a class="dropdown-item" href="#">Log Out</a></li>
                      </ul>
                  </div>

                  <!--<button type="button" class="btn btn-facebook" ui-sref="users"><i class="fa fa-user mr-2"></i>{{name}}</button>
  <button type="button" class="btn" ui-sref="changepass">Change Password</button>-->
                  <!-- <button type="button" class="btn btn-facebook" ng-click="notifyAdminShow()" ng-show="role === '2'"><i class="fa fa-comment mr-2"></i>Inform Admin</button> -->
                  <!--<button type="button" class="btn btn-facebook" ng-click="signout()"><i class="fa fa-power-off mr-2"></i>Sign Out</button>-->
              </div>
          </div>
      </div>
  </div>
</div>
   