<div class="section-body" style="position: fixed; bottom: 0px; width:-webkit-fill-available;">
    <div class="container-fluid " >
        <div class="page-header" style="border-top: 1px solid #E8E9E9;position: center !important;">
            <div class="left" id="savebtnprimary">
               <p>Copyright © 2022 Rishabh Software. All Rights Reserved.</p>
            </div>
            <div class="right lefttocenter" id="savebtnprimary">
                <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" aria-label="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="footer">
    <div class="container">
      <div class="footer-block">
        <p>Copyright © 2022 Rishabh Software. All Rights Reserved.</p>
        <div class="social">
          <a href="#" aria-label="Facebook"><i class="icon-facebook"></i></a>
          <a href="#" aria-label="Instagram"><i class="icon-instagram"></i></a>
          <a href="#" aria-label="Linkedin"><i class="icon-linkedin"></i></a>
          <a href="#" aria-label="Twitter"><i class="icon-twitter"></i></a>
        </div>
      </div>
    </div>
  </div> -->
