<!-- <div id="main_content"> -->
    <!-- <app-side-nav></app-side-nav> -->
    <!-- <div class="page"> -->
        <!-- <app-header></app-header> -->
        <div class="section-body mt-3">
            <div class="container-fluid">
        <div class="container body">
            <div class="card">                          
                <h2 class="card-title">Privacy Policy</h2>
                <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from our website.</p>
              
                <h2 class="card-title">Information We Collect</h2>
                <p>We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey, or fill out a form. The information collected may include your name, email address, mailing address, phone number, credit card information, and other details.</p>
              
                <h2 class="card-title">How We Use Tour Information</h2>
                <p>We may use the information we collect from you to process transactions, send periodic emails, improve our website, personalize your experience, and administer contests, promotions, surveys, or other site features.</p>
              
                <h2 class="card-title">Information Sharing</h2>
                <p>We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties without your consent. This does not include trusted third parties who assists us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.</p>
              
                <h2 class="card-title">Security</h2>
                <p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</p>
              
                <h2 class="card-title">Changes to This Privacy Policy</h2>
                <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website.</p>
              
                <h2 class="card-title">Contact Us</h2>
                <p>If you have any questions about this Privacy Policy, please contact us.</p>
              </div>            
            </div>
            </div>
            </div>
        <!-- <app-footer></app-footer> -->
    <!-- </div>
</div> -->