<div id="main_content">
  <app-side-nav></app-side-nav>
  <div class="page">
      <app-header></app-header>
       <div class="photo">
      <div class="px-5 py-5 main">
        <div class="row float-left">
          <!-- <div class="col-md-6 photo"></div>   -->
          <div class="px-5">
            <div class="txt">
              <h2 id="name">About Us</h2>
              <p>Rishabh Software was founded in the year 2000 by Mr. & Mrs. Raju Shah with a simple thought of delivering exceptional value to global customers. From the start, the vision was clear to empower businesses with world-class software solutions. They did this by tapping into local talent in their home state of Gujarat by building a platform for budding software developers to grow and nurture their careers. At Rishabh, we not only provide your business with exceptional enterprise-grade applications but go above and beyond. With 1200+ successful projects and a process-driven mindset, we’ve got your back. Our repeat clientele speaks volumes for our values and ethics in all our dealings be it software development across web, mobile, analytics, cloud, or through our engineering and BPO services. We believe in doing the best for our clients because WE CARE.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      
      <app-footer></app-footer>
  </div>
</div>
