<h1 mat-dialog-title>Notifications</h1>
<div mat-dialog-content>
  <!-- <div *ngIf="notificationCount > 0; else noNotifications">
    <p>{{ notifications }}</p> -->
    <!-- <button mat-icon-button (click)="removeNotification(i)"> -->
      <li *ngFor="let notification of notifications">
        {{ notification.message }} - {{ notification.timeStamp | date:'mediumDate' }}
        <mat-icon>cancel</mat-icon>
        <mat-divider></mat-divider>
      </li>
      
    <!-- </button> -->
   
  <!-- </div> -->
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="clearNotifications()">Clear</button> -->
</div>