<!-- <div class="form-body">
    <div class="form-holder"
      style="background-image: url(../../assets/Images/changepassword.jpg); max-width: 1140px; width: calc(100% - 550px) !important;">
      <div class="form-content" style="background:transparent;">
        <div class="form-items">
          <div class="website-logo-inside">
            <img src="../../assets/Images/logo.svg" alt="Rishabh Software">
            <span style=" color: #e23e3f;
                font-size: 34px;
                font-weight: 700;">Meal Facility</span>
          </div>
          <h3 class="otp-head" style="color: black;">Change Password</h3>
          <p class="otp-text" style="color: black;">Create new password for your account.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->




<body class="mt-0">
  <div class="main">
    <section class="login-content">
      <!-- <div class="login-content-lt"><img src="../../../assets/Images/changepassword.jpg"  alt="" srcset=""></div> -->
      <div class="login-content-rt">
        <div class="login-box">
          <form class="login-form" [formGroup]="changePasswordForm">
            <div class="logo-wrapper pt-5">
              <img src="../../assets/Images/logo.svg" class="pt-5" alt="Rishabh Software">
              <span class="pt-5">Meal Facility</span>
            </div>
            <h3 class="login-head">Change Password</h3>
            <p class="login-text">Create new password for your account.</p>



            <div class="form-group pt-3">
              <label class="control-label">Old Password</label>
              <div class="input-field"
                [class.error]="changePasswordForm.controls['opassword'].dirty && changePasswordForm.hasError('required', 'opassword')">
                <span class="fa fa-lock p-2"></span>
                <input formControlName="opassword" [type]="type" placeholder="Old Password">
                <span class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}"
                  (click)="toggleVisibility()"></span>
              </div>
              <small
                *ngIf="changePasswordForm.controls['opassword'].dirty && changePasswordForm.hasError('required', 'opassword')"
                class="text-danger">*Password is required
              </small>
            </div>
          

        <div class="form-group pt-3">
          <label class="control-label">New Password</label>
          <div class="input-field"
            [class.error]="changePasswordForm.controls['newpassword'].dirty && changePasswordForm.hasError('required', 'newpassword')">
            <span class="fa fa-lock p-2"></span>
            <input formControlName="newpassword" [type]="type" placeholder="New Password">
            <span class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}"
              (click)="toggleVisibility()"></span>
          </div>
          <small
            *ngIf="changePasswordForm.controls['newpassword'].dirty && changePasswordForm.hasError('required', 'newpassword')"
            class="text-danger">*Password is required
          </small>
        </div>

        <div class="form-group pt-3">
          <label class="control-label">Confirm Password</label>
          <div class="input-field"
            [class.error]="changePasswordForm.controls['cpassword'].dirty && changePasswordForm.hasError('required', 'cpassword')">
            <span class="fa fa-lock p-2"></span>
            <input formControlName="cpassword" [type]="type" placeholder="Confirm Password">
            <span class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}"
              (click)="toggleVisibility()"></span>
          </div>
          <small
            *ngIf="changePasswordForm.controls['cpassword'].dirty && changePasswordForm.hasError('required', 'cpassword')"
            class="text-danger">*Password is required
          </small>
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <div class="form-group mb-0">
          </div>
        </div>
        <div class="form-group btn-container">
          <button class="btn btn-xl " (click)="onSubmite()">Submit</button>
        </div>
        </form>
      </div>
  </div>

  </section>

  </div>

</body>







<!-- <form [formGroup]="changePasswordForm">
  <div class="form-group">
    <label class="control-label" style="color: black; font-weight: 600;">Old Password</label>
    <div class="input-addon"
      [class.error]="changePasswordForm.controls['opassword'].dirty && changePasswordForm.hasError('required','opassword')">
      <input formControlName="opassword" id="password-field" class="form-control" [type]="type"
        placeholder="Old Password">
      <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
      <small *ngIf="changePasswordForm.controls['opassword'].dirty && changePasswordForm.hasError('required','opassword')"
      class="text-danger">*fiels is required</small>
    </div>
   
  </div>
  <div class="form-group">
    <label class="control-label" style="color: black; font-weight: 600;">New Password</label>
    <div class="input-addon"
      [class.error]="changePasswordForm.controls['newpassword'].dirty && changePasswordForm.hasError('required','newpassword')">
      <input formControlName="newpassword" id="password-field" class="form-control" [type]="type"
        placeholder="New Password">
      <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
      <small *ngIf="changePasswordForm.controls['newpassword'].dirty && changePasswordForm.hasError('required','newpassword')"
      class="text-danger">*fiels is required</small>
    </div>
    
  </div>

  <div class="form-group">
    <label class="control-label" style="color: black; font-weight: 600;">Confirm Password</label>
    <div class="input-addon"
      [class.error]="changePasswordForm.controls['cpassword'].dirty && changePasswordForm.hasError('required','cpassword')">
      <input formControlName="cpassword" id="password-field" class="form-control" [type]="type"
        placeholder="Confirm Password">
      <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
      <span toggle="#password-field" class="icon-eye-close field-icon toggle-password"></span>
    </div>
    <small *ngIf="changePasswordForm.controls['cpassword'].dirty && changePasswordForm.hasError('required','cpassword')"
      class="text-danger">*fiels is required</small>
  </div>

  <div class="form-group btn-container">
    <button class="btn btn-xl btn-primary col-lg-12" (click)="onSubmite()" style=" color: white;
        background-color: rgba(255, 0, 0, 0.774);">Submit</button>
  </div>
</form> -->