<!-- <div id="main_content">
    <app-side-nav></app-side-nav>
    <div class="page">
        <app-header></app-header> -->
        <div class="section-body mt-3">
        <div class="container-fluid">
            <h1><b>Terms and Conditions</b></h1>
            <div class="container">
                <h2 class="mt-4">1. Use of Facilities</h2>
                <p>The meal facility is provided for the exclusive use of Rishabh Software employees/clients/residents and their authorized guests. All users must comply with facility rules and regulations posted on-site.</p>

                <h2 class="mt-4">2. Meal Services</h2>
                <p>Meals provided are for consumption on the premises only and may not be taken off-site. Users are responsible for adhering to any dietary restrictions or allergies and should inform staff of any special dietary needs.</p>

                <h2 class="mt-4">3. Reservation and Cancellation</h2>
                <p>Reservations for meal services are recommended and subject to availability. Cancellations must be made at least 15 hours/days in advance to avoid cancellation fees.</p>

                <h2 class="mt-4">4. Payment</h2>
                <p>Payment for meals and services must be made in accordance with the facility's payment policy. Unauthorized removal of food or non-payment may result in additional charges or suspension of meal privileges.</p>

                <h2 class="mt-4">5. Conduct</h2>
                <p>Users are expected to conduct themselves in a respectful manner and refrain from disruptive behavior. Any damage to facility property caused by misuse or negligence will be the responsibility of the user.</p>

                <h2 class="mt-4">6. Health and Safety</h2>
                <p>Users must comply with all health and safety protocols, including hand hygiene and social distancing measures. Users experiencing symptoms of illness should refrain from using the facility to prevent the spread of illness to others.</p>

                <h2 class="mt-4">7. Liability</h2>
                <p>Rishabh Software is not liable for any loss, damage, or injury incurred on the premises, except in cases of gross negligence or willful misconduct. Users participate in facility activities at their own risk and are encouraged to obtain appropriate insurance coverage.</p>

                <h2 class="mt-4">8. Termination of Services</h2>
                <p>Rishabh Software reserves the right to terminate meal services or deny access to the facility to any individual who violates these terms and conditions or behaves inappropriately.</p>
            </div>
        </div>                       
    </div>
        <!-- <app-footer></app-footer>
    </div>
</div> -->