<div class="main">
  <section class="forgot-content">
    <div class="forgot-content-lt"></div>
    <div class="forgot-content-rt">
      <div class="forgot-box">
        <form [formGroup]="forgotFrom">
          <div class="logo-wrapper">
            <img src="../../assets/Images/logo.svg" alt="Rishabh Software" />
            <span>Meal Facility</span>
          </div>
          <h3 class="forgot-head">Forgot Password</h3>
          <p class="forgot-text">
            Enter your Email address to forgot password.
          </p>
          <div class="form-group pt-3">
            <label class="control-label">Email Address</label>
            <div class="input-field"
                [class.error]="forgotFrom.controls['email'].dirty && forgotFrom.hasError('required', 'email')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="email"  type="text" placeholder="Username">
            </div>
            <small *ngIf="forgotFrom.controls['email'].dirty && forgotFrom.hasError('required', 'email')" class="text-danger">*Email is required</small>
        </div>

          <div class="form-group btn-container">
            <button
              (click)="onSubmit()"
              class="btn btn-xl "             
            >
              Generate OTP
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>


<!-- ======================for Validation================================ -->

<!-- <div class="main">
  <section class="forgot-content">
    <div class="forgot-content-lt"></div>
    <div class="forgot-content-rt">
      <div class="forgot-box">
        <form
          class="forgot-form"
          [formGroup]="forgotForm"
          (ngSubmit)="onSubmit()"
          action="#"
        >
          <div class="logo-wrapper">
            <img src="../../assets/Images/logo.svg" alt="Rishabh Software" />
            <span>Meal Facility</span>
          </div>
          <h3 class="forgot-head">Forgot Password</h3>
          <p class="forgot-text">
            Enter your Email address to forgot password.
          </p>
          <div
            class="form-group"
            [class.has-error]="
              forgotForm.get('email')?.invalid && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)
            "
          >
            <label class="control-label">Email :</label>
            <div class="input-addon">
              <input
                class="form-control"
                type="text"
                placeholder="Enter Email address"
                formControlName="email"
                autofocus
              />
              <div
                *ngIf="
                  forgotForm.get('email')?.invalid && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)
                "
                class="error-message"
              >
                <div *ngIf="forgotForm.get('email')?.errors?.['required']">
                  Email is required
                </div>
                <div *ngIf="forgotForm.get('email')?.errors?.['email']">
                  Invalid email format
                </div>
              </div>
              <div class="icon-after icon-green">
                <i class="icon-check"></i>
              </div>
            </div>
          </div>

          <div class="form-group btn-container">
            <button
              type="submit"
              class="btn btn-xl btn-primary"
              [disabled]="forgotForm.invalid"
              routerLink="/otp-validation"
            >
              Generate OTP
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div> -->
