<div class="cancel-container">
  <div class="cancel-form">
    <div class="cancel-header">
      <h1 class="mx-auto">Cancel Booking</h1>
    </div>
    <form [formGroup]="cancelForm">

      <div class="form-group py-3">
        <div class="selected-date">
          Booking date: {{ selectedDate | date: 'longDate' }}
        </div>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Meal Type</mat-label>
          <mat-select id="mealType" formControlName="mealType">
            <mat-option value="Lunch">Lunch</mat-option>
            <mat-option value="Dinner">Dinner</mat-option>
            <mat-option value="Both">Both</mat-option>
          </mat-select>
          <mat-error *ngIf="cancelForm.get('mealType')?.touched && cancelForm.get('mealType')?.hasError('required')">
            Meal Type is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group btn-container py-2">
        <button mat-button type="button" (click)="closeForm()">No</button>
        <button mat-raised-button color="warn" class="btn btn-xl" (click)="onSubmit()">Yes</button>
      </div>

    </form>
  </div>
</div>