/* You can add global styles to this file, and also import other style files */
@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~font-awesome/css/font-awesome.css';
@import '../src/assets/css/additionalfile.css';
@import '../src/assets/css/bootstrap.min.css';
@import "../src/assets/css/btns.css";
@import '../src/assets/css/c3.min.css';
@import '../src/assets/css/commoncolors.css';
@import '../src/assets/css/main.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
    margin: 15px 12px;
}

.hide{
    display: none !important;
}