<div class="section-body mt-5">
  <div class="container-fluid " >
      <div class="page-header" style="border-top: 1px solid #E8E9E9;position: center !important;">
          <div class="left" id="savebtnprimary">
             <p>Copyright © 2024 Rishabh Software. All Rights Reserved.</p>
          </div>
          <div class="right lefttocenter" id="savebtnprimary">
        <a href="https://www.facebook.com/rishabhsoft?mibextid=ZbWKwL" target="_blank" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        &nbsp;
        <a href="https://www.instagram.com/rishabhsoft?igsh=MWE2bzFqNnl5ajE3Yg==" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        &nbsp;
        <a href="https://www.linkedin.com/company/rishabh-software/" target="_blank" aria-label="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
        &nbsp;
        <a href="https://x.com/RishabhSoft?t=NPHG6G2RYIRMWcz-Kd5ByA&s=09" target="_blank" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
          </div>
      </div>
  </div>
</div>

